<h1><%= @recipe.name %></h1>
<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li> <a href="/ingredients/<%= ingredient.id %>"><%= ingredient.name %> </a></li>
  <% end %>
</ul>
<a href="/recipes/<%= @recipe.id %>/edit" class="float-left btn">Edit</a>