<% provide(:title, @user.name) %>
<ul class="nav nav-tabs">
  <li class="nav-item"><%= link_to "Favorite Recipes", edit_user_path(current_user), class: "nav-link" %></li>
  <li class="nav-item"><%= link_to "Edit Profile", edit_user_path(current_user), class: "nav-link" %></li>
</ul>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>